<!DOCTYPE html>
<html>
    <head>
       <title>Coding Dojo Wall</title>
       <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body class="wall">
        <div id="wrapper">
            <div id="header">
                <h2>Coding Dojo Wall</h2>
                <div id="header_right">
                    <p>{{ user.first_name + ' ' + user.last_name }}</p>
                    <a href="/logout">Log Out</a>
                </div>
            </div>
            <div id="posts_layer">
                <div id="post_message">
                    <h3>Post a message</h3>
                    <form action="/post_message" name="post_message" method="post">
                        <textarea name="post_text" id="post_text" cols="120" rows="5"></textarea>
                        <input type="submit" value="Post a message">
                    </form>
                </div>

                <!-- Pseudo code  -->
                <!-- For message in messages -->
                    <!-- Create FORM message card with message id# -->
                        <!-- Create message header with name and date -->
                        <!-- Create message text -->
                        <!-- Create comment card with comment id# -->
                            <!-- Create comment header with name and date  -->
                            <!-- Create comment text -->
                        <!-- END COMMENT -->
                        <!-- Create Post Comment layer -->
                            <!-- Create Post Comment header -->
                            <!-- Create Post Comment text area -->
                            <!-- Create Post Comment submit button -->
                        <!-- END POST COMMENT layer -->
                    <!-- END CREATE MESSAGE CARD -->
                <!-- END FOR LOOP -->

                <div id="messages">
                    {% for message in messages %}
                        <form action="/post_comment" name="post_comment" class="message_card" method="post">
                            <input type="hidden" name="message_id" value="{{ message['id'] }}">
                            <p class="message_header">
                                {{ message['full_name'] }} - {{ message['date'] }}
                                {% if message['user_id'] == session['session_id'] and message['mins'] | int < 30 %}
                                    <a class="delete" href="/delete_message/{{ message['id'] }}">Delete</a>
                                {% endif %}
                            </p>
                            <div class="message_text">
                                <p>{{ message['message'] }}</p>
                            </div>
                            {% for comment in comments %}
                                {% if comment['message_id'] == message['id'] %}
                                    <div id="comment_id1" class="comment_card">
                                        <p class="message_header">{{ comment['full_name'] }} - {{ comment['date'] }}</p>
                                        <div class="comment_text">
                                            <p>{{ comment['comment'] }}</p>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                            <div id="post_comment">
                                <p>Post a comment</p>
                                <textarea name="comment_text" id="comment_text" cols="100" rows="5"></textarea>
                                <input type="submit" value="Post a comment">
                            </div>
                        </form>
                    {% endfor %}
                    <!-- END MESSAGE ID #1 -->
                </div>
                <!-- END MESSAGES LAYER -->
            </div>
        </div>
    </body>
</html>